DOMAIN=

# MariaDB
MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=

# WordPress
WORDPRESS_DB_NAME=
WORDPRESS_DB_HOST=
WORDPRESS_DB_USER=
WORDPRESS_DB_PASSWORD=
WORDPRESS_SITE_TITLE=How the world could be better with more cheese
WORDPRESS_ADMIN_USER=
WORDPRESS_ADMIN_PASSWORD=
WORDPRESS_ADMIN_EMAIL=
# WordPress installs itself on first boot using the values above.
# Do not comment to the right of the variables. It will cause issues with the sed command in wordpress-setup.sh
# MARIADB_DATABASE and WORDPRESS_DB_NAME must be the same, otherwise WordPress will not be able to connect to the database.
# WORDPRESS_DB_HOST must be the same as the name of the MariaDB service in the docker-compose.yml file.
# DOMAIN must be the same as the domain name used in the nginx configuration file.
# WORDPRESS_ADMIN_USER must not contain the word "admin" anywhere